html {
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	background-image: url("../img/pattern.jpg");
	background-repeat: repeat;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 120%;
	color: #555555;
}

.navbar-custom {
	background: transparent;
	border-color: transparent;
	font-size: 36px;
	line-height: 120%;
}

.navbar-brand {
	height: 100%;
}

.navbar-brand img{
	float: right;
}

.portfolio {
	color: black;
}

.portfolio:hover {
	color: black;
	font-weight: 400;
}

.sobre-mi {
	color: black;
}

.sobre-mi:hover {
	color: black;
	font-weight: 400;
}

#sobremi {
	background-color: #E4FAFF;
	font-size: 24px;
	line-height: 120%;
}

.miDescripcion {
	padding: 50px;
	text-align: justify;
}

.oscuro {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.big {
	font-size: 48px;
	font-weight: 400;
}

.bloqueRetrato {
	padding-top: 50px;
}

.contacto {
	color: black;
}

.contacto:hover {
	color: black;
	font-weight: 400;
}

#contacto {
	background-color: #E3F3E9;
	padding: 5px 35px 25px;
}

#form1 {
	width: 80%;
}

.form-title {
	font-weight: 300;
	margin-top: 0;
	padding: 15px;
	text-align: center;
}

.feedback-input {
    background-color: #fbfbfb;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.feedback-input {
    margin-bottom: 10px;
    padding: 13px 13px 13px 54px;
    width: 100%;
}

#button {
	padding-bottom: 22px;
    padding-top: 22px;
    width: 100%;
	border: none;
}

.btGeneral {
	background-color: #497359;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btGeneral:hover {
	background-color: #6C736F;
}

@media (max-width: 767px) {
	.navbar-brand {
		padding-right: 0px;
		padding-left: 5px;
	}

	.navbar-toggle {
		margin-top: 38px;			
	}

	.navbar-default .navbar-toggle {
		border-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00aef6;
		border-radius: 3px;
		display: block;
		height: 6px;
		width: 35px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}

	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}
	
	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}

@media (min-width: 1200px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}
	
	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}
