html {
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	background-image: url("../img/pattern.jpg");
	background-repeat: repeat;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 120%;
	color: #333333;
}

.navbar-custom {
	background: transparent;
	border-color: transparent;
	font-size: 36px;
	line-height: 120%;
}

.navbar-brand {
	height: 100%;
}

.navbar-brand img{
	float: right;
}

.portfolio {
	color: black;
}

.portfolio:hover {
	color: black;
	font-weight: 400;
}

.sobre-mi {
	color: black;
}

.sobre-mi:hover {
	color: black;
	font-weight: 400;
}

#sobremi {
	background-color: #FAEFEB;
	font-size: 32px;
	line-height: 120%;
	text-align: center;
}

.big {
	font-size: 48px;
	font-weight: 400;
}

.contacto {
	color: black;
}

.contacto:hover {
	color: black;
	font-weight: 400;
}

#contacto {
	background-color: #E3F3E9;
}	

@media (max-width: 767px) {
	.navbar-brand {
		padding-right: 0px;
		padding-left: 5px;
	}

	.navbar-toggle {
		margin-top: 38px;			
	}

	.navbar-default .navbar-toggle {
		border-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00aef6;
		border-radius: 3px;
		display: block;
		height: 6px;
		width: 35px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}

	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}
	
	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}

@media (min-width: 1200px) {
	.navbar-custom {
		text-align: right;
		float: left;
		width: 100%;
	}
	
	.navbar-brand {
		width: 100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}
}
